/*this is the responsive css file*/
@media screen and (max-width: 625px){
    .shopping_cart_cont{
        right: 0;
        width: 100%;
        & .main_cart{
            & .producto{
                width: 95%;
                flex-direction: column;
                & .img_cont_pro{
                    width: 60%;
                    border-right: none;
                    border-bottom: 1px solid var(--elements);
                }
                & .info_pro{
                    width: 100%;
                    & .precio_btn_cont{
                        flex-direction: column;
                        & .precio{
                            width: 100%;
                            align-items: center;
                        }
                        & .btn_eliminar_cont{
                            width: 90%;
                            margin: 0.5em 0;
                        }
                    }
                }
            }
        }
        & .cont_btn_buy{
            & .buy_btn{
                width: 90%;
            }
            & button{
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 341px){
    main{
        & section{
            & .info_cont{
                & .description{
                    & h2{
                        font-size: 1.4em;
                    }
                    & p{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 628px){
    .loading_cont_all{
        & .loading_cont{
            width: 100%;
        }
    }
}
/*this is the responsive of the products details view...*/
@media screen and (max-width: 941px){
    main{
        /*this is for more details view...*/
        & .details_zone{
            align-items: center;
            & .main_info{
                width: 95%;
            }
            & .sider{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 580px){
    main{
        /*this is for more details view...*/
        & .details_zone{
            align-items: center;
            & .main_info{
                width: 95%;
                & .slogan{
                    font-size: 1.1em;
                }
                & .photos_cont{
                    justify-content: space-between;
                    & .side_photos{
                        width: clamp(150px, 50%, 250px);
                        gap: 0;
                        & .photos_cont{
                            width: 100%;
                            height: 210px;
                        }
                    }
                    & .main_photo{
                        width: clamp(300px, 80%, 480px);
                        height: auto;
                    }
                }
                & .recommendations{
                    padding: 0.5em;
                    & .cart_reco{
                        width: clamp(180px, 95%, 280px);
                        & button{
                            top: 220px;
                        }
                    }
                }
                & .opinios_of_product{
                    padding: 0.5em;
                    & .opinion_cart{
                        width: clamp(270px, 95%, 370px);
                        & .score_date{
                            flex-wrap: wrap;
                            gap: 10px;
                            & .score{
                                width: 150px;
                            }
                            & .date{
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}