/*this is the responsive css file*/
@media screen and (max-width: 625px){
    .shopping_cart_cont{
        right: 0;
        width: 100%;
        & .main_cart{
            & .producto{
                width: 95%;
                flex-direction: column;
                & .img_cont_pro{
                    width: 60%;
                    border-right: none;
                    border-bottom: 1px solid var(--elements);
                }
                & .info_pro{
                    width: 100%;
                    & .precio_btn_cont{
                        flex-direction: column;
                        & .precio{
                            width: 100%;
                            align-items: center;
                        }
                        & .btn_eliminar_cont{
                            width: 90%;
                            margin: 0.5em 0;
                        }
                    }
                }
            }
        }
        & .cont_btn_buy{
            & .buy_btn{
                width: 90%;
            }
            & button{
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 341px){
    main{
        & section{
            & .info_cont{
                & .description{
                    & h2{
                        font-size: 1.4em;
                    }
                    & p{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 628px){
    .loading_cont_all{
        & .loading_cont{
            width: 100%;
        }
    }
}