/*Here we have the font that we are going to use...*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*These are the colors of the pages...*/
:root{
    --fonts_color: #0F0F0F;
    --other_fonts: rgb(245, 244, 244);
    --header_footer: #005B41;
    --elements: #232D3F;
    --info: #008170;
    --shadow: rgba(21, 21, 21, 0.182);
    --body: white;
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
.shopping_cart_cont{
    position: absolute;
    z-index: 200;
    right: 60px;
    top: 65px;
    width: 550px;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body);
    border-radius: 0.5em;
    box-shadow: 0px 1px 6px var(--shadow);
    & .header_cart{
        background-color: var(--body);
        box-shadow: 0px 1px 6px var(--shadow);
        width: 100%;
        height: auto;
        padding: 0.8em 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        & span{
            color: var(--info);
            font-size: 1.1em;
            font-weight: 600;
            letter-spacing: 0.02em;
            & b{
                color: var(--elements);
            }
        }
    }
    & .main_cart{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: var(--body);
        width: 100%;
        height: 450px;
        padding: 1em 0.5em;
        margin: 0.5em 0;
        overflow-y: scroll;
        & .producto{
            box-shadow: 0px 1px 6px var(--shadow);
            border-radius: 0.5em;
            width: 93%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.6em 0;
            & .img_cont_pro{
                width: 30%;
                height: 100%;
                overflow: hidden;
                border-right: 1px solid var(--elements);
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            & .info_pro{
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & .descripcion{
                    width: 100%;
                    height:40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & span{
                        color: var(--info);
                        font-size: 1.1em;
                        letter-spacing: 0.03em;
                        font-weight: 500;
                    }
                }
                & .precio_btn_cont{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .precio{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & span{
                            color: var(--info);
                            font-size: 1.4em;
                            font-weight: 600;
                            letter-spacing: 0.05em;
                        }
                    }
                    & .btn_eliminar_cont{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & button{
                            background-color: var(--info);
                            border: none;
                            width: 65%;
                            padding: 0.5em;
                            border-radius: 0.5em;
                            color: var(--body);
                            font-size: 1.15em;
                            letter-spacing: 0.03em;
                            font-weight: 500;
                        }
                        & button:hover{
                            background-color: var(--header_footer);
                            transition: all 250ms ease-in-out;
                        }
                    }
                }
            }
        }
    }
    & .cont_btn_buy{
        background-color: var(--body);
        box-shadow: 0px -1px 6px var(--shadow);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        padding: 0.5em 0;
        & a{
            background-color: var(--info);
            border-radius: 0.5em;
            width: 40%;
            padding: 0.7em;
            text-decoration: none;
            text-align: center;
            color: var(--body);
            font-size: 1.1em;
            letter-spacing: 0.02em;
        }
        & a:hover{
            background-color: var(--header_footer);
            transition: all 300ms ease-in-out;
        }
        & button{
            background-color: var(--elements);
            border-radius: 0.5em;
            border: none;
            width: 40%;
            padding: 0.7em;
            text-decoration: none;
            text-align: center;
            color: var(--body);
            font-size: 1.1em;
            letter-spacing: 0.02em;
        }
        & button:hover{
            background-color: var(--fonts_color);
            transition: all 300ms ease-in-out;
        }
    }
}
header{
    background-color: var(--header_footer);
    box-shadow: 0px 1px 6px var(--shadow);
    font-weight: 500;
    transition: all 400ms ease-in-out;
    & .shopping_cart_cont_icon{
        background-color: var(--info);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        transition: all 400ms ease-in-out;
        & .cart{
            margin-top: 0.4em;
            margin-right: 3em;
            width: 190px;
            height: 60px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.2em;
            color: var(--body);
            cursor: pointer;
            transition: all 400ms ease-in-out;
            & #carrito{
                font-size: 2em;
                color: var(--body);
                transition: all 400ms ease-in-out;
            }
        }
    }
}
.h{
    background-color: var(--header_footer);
    box-shadow: 0px 1px 6px var(--shadow);
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: all 400ms ease-in-out;
    & .shopping_cart_cont_icon{
        background-color: var(--elements);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        transition: all 400ms ease-in-out;
        & .cart{
            margin-top: 0.4em;
            margin-right: 3em;
            width: 190px;
            height: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.2em;
            color: var(--body);
            cursor: pointer;
            transition: all 400ms ease-in-out;
            & #carrito{
                font-size: 2em;
                color: var(--body);
                transition: all 400ms ease-in-out;
            }
        }
    }
    & nav{
        display: none;
        transition: all 400ms ease-in-out;
    }
}
#searchBtn{
    color: var(--body);
}
#cont_brand_img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }
}
#lista{
    margin-left: 2em;
    width: 300px;
    justify-content: space-between;
}
main{
    background-color: var(--body);
    width: 100%;
    height: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    overflow: hidden;
    & section{
        position: relative;
        background-color: var(--body);
        box-shadow: 0px 1px 6px var(--shadow);
        border-radius: 0.5em;
        width: 310px;
        height: 430px;
        & .img_cont{
            width: 100%;
            height: 45%;
            overflow: hidden;
            cursor: pointer;
            z-index: 100;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        & .img_cont:hover{
            position: absolute;
            height: 100%;
            transition: all 300ms ease-in-out;
        }
        & .info_cont{
            width: 100%;
            height: 55%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            & .description{
                margin-top: 0.3em;
                width: 80%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                & h2{
                    color: var(--info);
                    font-size: 1.6em;
                    letter-spacing: 0.02em;
                    font-weight: 700;
                }
                & p{
                    color: var(--elements);
                    font-size: 1.1em;
                    letter-spacing: 0.02em;
                }
            }
            & .precio_marca{
                width: 90%;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                & div{
                    width: 45%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & span{
                        font-weight: 700;
                        letter-spacing: 0.02em;
                        font-size: 1.03em;
                        color: #008170;
                    }
                }
            }
            & button{
                width: 70%;
                height: auto;
                padding: 0.5em;
                border-radius: 0.3em;
                border: none;
                background-color: var(--info);
                text-align: center;
                & i{
                    font-size: 1.6em;
                    color: var(--body);
                }
            }
            & button:hover{
                width: 65%;
                background-color: var(--header_footer);
                box-shadow: 0px 1px 6px var(--shadow);
                transition: all 250ms ease-in-out;
            }
            & button:hover i{
                transform: rotate(360deg);
                transition: all 250ms ease-in-out;
            }
        }
    }
    & img{
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
}
footer{
    width: 100%;
    height: auto;
    background-color: var(--header_footer);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .inicio_pagina{
        width: 100%;
        height: auto;
        padding: 1em;
        background-color: var(--info);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & span{
            color: var(--body);
            font-weight: 500;
            font-size: 1.1em;
            letter-spacing: 0.02em;
        }
    }
    & .inicio_pagina:hover{
        box-shadow: 0px 1px 6px var(--shadow);
        width: 90%;
        background-color: var(--elements);
        transition: all 300ms ease-in-out;
    }
    & .more_links{
        border-bottom: 1.5px solid rgba(47, 47, 47, 0.284);
        width: 100%;
        height: auto;
        padding: 2em;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        & .cont_ul{
            width: 300px;
            height: auto;
            & ul{
                width: 100%;
                height: 100%;
                list-style: none;
                padding-left: 0;
                & li{
                    width: 100%;
                    height: auto;
                    padding: 0.4em 0;
                    color: var(--other_fonts);
                    font-weight: 400;
                    font-size: 1.05em;
                    letter-spacing: 0.02em;
                    cursor: pointer;
                    text-align: center;
                }
                & .title{
                    font-size: 1.25em;
                    font-weight: 600;
                    margin-bottom: 1em;
                }
                & li:hover{
                    background-color: var(--info);
                }
                & li:first-of-type:hover{
                    background-color: transparent;
                    cursor: auto;
                }
            }
        }
    }
    & .world{
        width: 100%;
        height: auto;
        & ul{
            padding: 1em 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            list-style: none;
            flex-wrap: wrap;
            gap: 20px;
            & li{
                padding: 0.3em 0.7em;
                border-right: 1px solid white;
                cursor: pointer;
                color: var(--body);
                font-size: 1.04em;
                letter-spacing: 0.02em;
            }
            & li:last-of-type{
                border: none;
            }
            & li:hover{
                text-decoration: underline;
                transition: all 200ms ease-in-out;
            }
        }
    }
    & .legales_cont{
        background-color: var(--elements);
        width: 100%;
        height: auto;
        padding: 1em 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        & .cont_{
            padding: 0.5em;
            & a{
                color: var(--body);
                text-decoration: none;
                font-size: 1.05em;
                letter-spacing: 0.02em;
            }
            & a:hover{
                text-decoration: underline;
                transition: all 300ms ease-in-out;
            }
        }
    }
}
/*loading*/
.loading_cont_all{
    position: fixed;
    background-color: var(--body);
    z-index: 300;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    & .loading_cont{
        z-index: 400;
        width: 50%;
        height: 530px;
        border-radius: 0.5em;
        background-color: var(--body);
        box-shadow: 0px 1px 10px var(--shadow);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        & h2{
            color: var(--info);
            letter-spacing: 0.03em;
        }
    }
}
/*Animation and details of the loading element...*/
.lds-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 174px;
    height: 174px;
    border: 30px solid var(--info);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--info) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*end*/
.lds-facebook {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-facebook div {
    position: relative;
    width: 45%;
    background: var(--info);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 1%;
    }
    12.5% {
        top: 8px;
        height: 1%;
    }
    25% {
        top: 8px;
        height: 1%;
    }
    50%, 100% {
        top: 24px;
        height: 100%;
    }
}
/*here we make the settings of the payment method...*/
.form_payment{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .informacion_compra{
        background-color: rgb(238, 238, 238);
        box-shadow: 0px 1px 6px var(--shadow);
        border-bottom: 1px solid rgba(50, 50, 50, 0.698);
        width: clamp(315px, 80%, 700px);
        height: auto;
        padding: 0.5em;
        border-radius: 0.5em 0.5em 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        & .products_conteiner{
            background-color: rgb(244, 244, 244);
            width: 63%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & .info_compras{
                background-color: var(--body);
                border-radius: 0.5em;
                width: 90%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                margin: 0.5em 0;
                & .img_producto{
                    border-right: 1px solid rgb(231, 231, 231);
                    width: 30%;
                    height: auto;
                    overflow: hidden;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                & .informacion_cantidad{
                    width: 70%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    & div{
                        width: 100%;
                        padding: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--info);
                        font-size: 1.1em;
                        font-weight: 700;
                        letter-spacing: 0.03em;
                    }
                    & div:first-of-type{
                        border-bottom: 1px solid rgb(225, 225, 225);
                    }
                }
            }
        }
        & .total_payment_terms{
            width: 35%;
            height: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            & .total{
                background-color: var(--info);
                width: 95%;
                padding: 0.7em;
                border-radius: 0.5em;
                text-align: center;
                box-shadow: 0px 1px 6px var(--shadow);
                & span{
                    color: var(--body);
                    font-size: 1.1em;
                    font-weight: 600;
                    letter-spacing: 0.03em;
                }
            }
            & .terms{
                width: 95%;
                height: auto;
                display: flex;
                justify-content: center;
                & select{
                    width: 100%;
                    padding: 0.6em;
                    border-radius: 0.5em;
                    border: none;
                    box-shadow: 0px 1px 6px var(--shadow);
                    text-align: center;
                    color: var(--info);
                    font-size: 1.1em;
                    letter-spacing: 0.03em;
                    cursor: pointer;
                }
            }
        }
    }
    & form{
        background-color: rgb(238, 238, 238);
        box-shadow: 0px 1px 6px var(--shadow);
        margin-top: 3em;
        width: clamp(315px, 80%, 850px);
        height: auto;
        padding: 1em 0.5em;
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        & fieldset{
            width: 95%;
            height: auto;
            padding: 1em 0;
            & legend{
                color: var(--info);
                font-size: 1.6em;
                letter-spacing: 0.03em;
                font-weight: 600;
            }
            & label{
                color: var(--info);
                font-size: 1.1em;
                letter-spacing: 0.03em;
                margin-bottom: 0.4em;
            }
            & input{
                padding: 0.7em;
                border: none;
                border-radius: 0.5em;
                box-shadow: 0px 1px 6px var(--shadow);
                color: var(--info);
                font-size: 1em;
            }
            & input:focus{
                outline: none;
            }
        }
        & .two_elements{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & .elements{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                & div{
                    width: 330px;
                    padding: 0.7em 0;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    & input{
                        width: 100%;
                    }
                }
            }
        }
        & .direccion{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 15px;
            & input{
                width: 240px;
            }
        }
        & .metodo_pago{
            margin-top: 2em;
            width: 80%;
            height: auto;
            padding: 1em 0;
            background-color: var(--info);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            & legend{
                color: var(--body);
                text-align: center;
                letter-spacing: 0.03em;
                display: block;
            }
            & select{
                margin-top: 1em;
                width: 70%;
                padding: 0.6em;
                border: none;
                border-radius: 0.5em;
                text-align: center;
                color: var(--info);
                font-size: 1.1em;
            }
            & .tarjeta{
                width: 85%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                & .name_numeros{
                    margin-top: 2em;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 1em 0.5em;
                    & label{
                        color: var(--body);
                    }
                    & input{
                        width: 85%;
                        text-align: center;
                    }
                    & input:first-of-type{
                        margin-bottom: 0.5em;
                    }
                }
                & .vence, .cvv{
                    width: 40%;
                    @media (max-width: 850px) {
                        width: 85%;
                    } 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 1em;
                    & label{
                        color: var(--body);
                    }
                    & input{
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
        & .btns{
            width: 80%;
            height: auto;
            margin-top: 2.5em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            & button, a{
                border-radius: 0.5em;
                box-shadow: 0px 1px 6px var(--shadow);
                color: var(--body);
                width: 220px;
                padding: 0.7em;
                border: none;
                font-size: 1.1em;
                font-weight: 600;
                letter-spacing: 0.03em;
                text-decoration: none;
                @media (max-width: 770px) {
                    width: 95%;
                    margin-bottom: 1em;
                }
            }
            & .comprar{
                background-color: var(--info);
            }
            & .comprar:hover{
                background-color: var(--header_footer);
                transition: all 250ms ease-in-out;
            }
            & .cancelar{
                background-color: var(--elements);
                text-align: center;
            }
            & .cancelar:hover{
                background-color: var(--fonts_color);
                transition: all 250ms ease-in-out;
            }
        }
    }
}