<!--this is the form that collects
the shipping information...-->
    <!--Here we have all the information about the purchase... -->
<article class="form_payment" id="paymentZone">
    <div class="informacion_compra">
        <!--products...-->
        <div class="products_conteiner">
            <!--This is the component...-->
            
            <!--<div class="info_compras">
                <div class="img_producto">
                    <img src="https://res.cloudinary.com/riqra/image/upload/v1678811199/sellers/3/ca6jtcmc2skfvxrzqmsh.jpg" alt="">
                </div>
                <div class="informacion_cantidad">
                    <div class="info">
                        <span>Sabritas habanero 245 grs</span>
                    </div>
                    <div class="cantidad">
                        <span>2 x $40</span>
                    </div>
                </div>
            </div>-->
        </div>
        <!--Total...-->
        <div class="total_payment_terms">
            <div class="total">
                <span>Total del pedido: $0</span>
            </div>
            <div class="terms">
                <select name="terms" id="terms">
                    <!--Estos tabiem tiene que estar dentro del json...-->
                    <option value="0">Sin meses</option>
                    <option value="3">3 meses de: </option>
                    <option value="6">6 meses de:</option>
                    <option value="12">12 meses de:</option>
                </select>
            </div>
        </div>
    </div>
    <form action="">
        <fieldset class="two_elements">
            <legend>Datos personales</legend>
            <div class="elements">
                <div>
                    <label for="name">Nombre(s)</label>
                    <input type="text" placeholder="Ingrese su nombre completo">
                </div>
                <div>
                    <label for="name">Apellidos</label>
                    <input type="text" placeholder="Ingrese sus apellidos">
                </div>
            </div>
        </fieldset>
        <fieldset class="direccion">
            <legend for="direccion">Direccion de envio</legend>
            <input type="text" placeholder="Ingrese estado">
            <input type="text" placeholder="Ingrese ciudad">
            <input type="text" placeholder="Ingrese colonia">
            <input type="text" placeholder="Ingrese calle">
            <input type="text" placeholder="Ingrese numero exterior">
            <input type="text" placeholder="Ingrese C.P.">
        </fieldset>
        <fieldset class="two_elements">
            <legend>Correo y numero de contacto</legend>
            <div class="elements">
                <div>
                    <label for="correo">Correo</label>
                    <input type="text" placeholder="Ingrese su correo (eje: m_12@email.com)">
                </div>
                <div>
                    <label for="telefono">Telefono</label>
                    <input type="text" placeholder="Ingrese su numero (eje: 3354789620)">
                </div>
            </div>
        </fieldset>
        <fieldset class="metodo_pago">
            <legend>Métodos de pago</legend>
            <select name="metodo" id="metodo">
                <option value="credito">Tarjeta de credito (visa / mastercart)</option>
                <option value="debito">Tarjeta de debito (visa / mastercart)</option>
            </select>
            <div class="tarjeta">
                <div class="name_numeros">
                    <label for="numeros">Numeros de la tarjeta (16)</label>
                    <input type="text" name="numeros" placeholder="Ingrese los 16 digitos de su tarjeta">
                    <label for="dueño">Nombre de la tarjetas</label>
                    <input type="text" name="dueño" placeholder="Nombre del dueño de la tarjeta">
                </div>
                <div class="vence">
                    <label for="vence">Fecha de vencimiento</label>
                    <input type="text" name="vence" placeholder="Ingrese la fecha de vencimiento">
                </div>
                <div class="cvv">
                    <label for="vence">Fecha de vencimiento</label>
                    <input type="text" name="vence" placeholder="Ingrese la fecha de vencimiento">
                </div>
            </div>
        </fieldset>
        <div class="btns">
            <button class="comprar" type="submit">Comprar</button>
            <button class="cancelar" id="cancelar">Cancelar</button>
        </div>
    </form>
</article>